* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: whitesmoke;
}

.container {
  background-color: whitesmoke;
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  background-color: green;
  min-width: 8px;
  min-height: 8px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #fff;
}

button {
  font-size: 24px;
  background-color: blue;
  color: inherit;
  padding: 16px 24px;
}
